@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>

<form method="post">
    <input type="email" name="email" placeholder="Email" required class="form-control" />
    <br />
    <input type="password" name="password" placeholder="Password" required class="form-control" />
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
    <a href="/Account/Register" class="btn btn-secondary ms-2">Register</a>
</form>

@if (ViewBag.Error != null)
{
    <p style="color:red;">@ViewBag.Error</p>
}
